body {
  font-family: "Arial", sans-serif;
  background-color: #ece5dd; /* WhatsApp background color */
  padding: 10px;
  width: 300px;
  height: auto; /* Full viewport height */
  display: flex; /* Using Flexbox */
  justify-content: center; /* Center content horizontally */
  align-items: center; /* Center content vertically */
  margin: 0; /* Reset default margin */
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  padding-inline: auto;
  background-color: #fff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 100%; /* Take full width of the body */
  padding: 10px;
}

.title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 15px;
  color: #075e54; /* WhatsApp green color */
}

input[type="text"] {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  padding: 8px 15px;
  margin: 5px;
  background-color: #25d366; /* WhatsApp green color */
  border: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #128c7e;
}
